[submodule "RIOT"]
	path = riot/RIOT
	url = https://github.com/riot-os/RIOT.git
	branch = 2026.04
[submodule "iot-lab-contiki-ng"]
	path = contiki-ng/iot-lab-contiki-ng
	url = https://github.com/iot-lab/iot-lab-contiki-ng.git
[submodule "ariel-os/ariel-os"]
	path = ariel-os/ariel-os
	url = https://github.com/ariel-os/ariel-os.git
