.sudo_as_admin_successful
.ipynb_checkpoints
*.ipynb
.vagrant
.DS_Store
bin/
build/
*.iotlab
.bash*
.iotlabrc
.ssh/
.ipython/
.jupyter/lab/workspaces/
.jupyter/migrated
.local/
*.oml
.cache/
.node_repl_history
.config/
.npm/
